.footer{
    font-family: var(--texto-principal);
    font-weight: normal;
    border-top: 1px solid var(--color-negro);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 70px 0;
}

.footer__columna{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer__columna h4{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: normal;
    color: var(--color-gris);
}

.footer__columna p{
    font-size: 16px;
}